body{
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: #fff;
    height: 100%;
    padding: 20px;
}

.main-container{
    border:1px solid #246ded;
    width:100%;
    height: 100%;
}

.header {
    background-color: #246ded;
    height: 7%;
    width: 100%;
    padding: 5px 0px;
}

.content {
    background-color: #fff;
    height: 84%;
    width: 100%;
    border-bottom: 1px #141414 dotted;
}

.options {
    height: 7%;
    width:100%;
    padding: 5px;
}

::placeholder {
    color:#fff;
}

.txtHeader {
    font-size: 25px;
    height: 100%;
    background-color: transparent;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    text-align: center;
    margin: auto;
    display: block;
}

.txtHeader:focus,.txtHeader:hover {
    border:none;
    background-color: #fff;
    color:#246ded;
}

.txtContent {
    height: 100%;
    width: 100%;
    color:#141414;
    background-color: #fff;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 18px;
    border:none;
    outline: none;
}

.txtContent:focus,.txtContent:hover {
    border:none !important;
    background-color: #f7f7f7;
}

.btn {
    padding: 5px;
    margin: 2px;
    background-color: #246ded;
    color:#fff;
    font-size: 18px;
    border-radius:5px;
    border:none;
}

.btn:focus,.btn:hover {
    background-color: #fff;
    color:#246ded;
    border:1px #246ded solid;
}
